<%= form_with(model: galaxy, local: true) do |form| %>
  <% if galaxy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(galaxy.errors.count, "error") %> prohibited this galaxy from being saved:</h2>

      <ul>
      <% galaxy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :galaxy_name %>
  </div>

  <div class="field">
    <%= form.label :planet_id %>
    <%= form.number_field :planet_id, id: :galaxy_planet_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
