<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @galaxy.name %>
</p>

<p>
  <strong>Planet:</strong>
  <%= @galaxy.planet_id %>
</p>

<%= link_to 'Edit', edit_galaxy_path(@galaxy) %> |
<%= link_to 'Back', galaxies_path %>
